.add-button{
    margin-bottom: 40px !important;
    margin-top: 20px !important;
    padding-left: 0px !important;
}

.page-heading{
    margin-bottom: 40px !important;
}

#global
{
    margin-left: 35% !important;
    margin-right: 35% !important;
    margin-top: 5% !important;
}

li.my-nav:hover {
  background-color: #f0f5f5;
}